*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #f7f8f8 
      
}
.top{
    /* border: 2px solid red; */
    width: 95%;
    height: 39px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    padding-top: 15px
}
.top-1 span i{
    padding: 0px 10px

}
.top-1 span:hover{
    color: #3a77ff;
    cursor: pointer;
}

.top img{
    width: 3%;
    height: 20px;
    cursor: pointer;

}
.olx-drop-parent{
    width: 272px;
    height: 48px;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    left: 35px
}
.olx-drop-parent i{
    position: absolute;
    top: 15px;
    left: 20px
}
.olx-drop{
    width: 203px;
    height: 44px;
    margin: 0 0 0 60px;
    border: none;
    background: none;
    outline: none;
    cursor: text
}
.olx-search-box-parent{
    width: 651px;
    height: 48px;
    border: 2px solid #002f34;;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    left: 50px;

}
.olx-search-box input{
    width: 635px;
    height: 44px;
    margin-left: 20px;
    border: none;
    background: none;
    
}
.olx-btn{
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #002f34;
    border-radius:  0 4px 4px 0;
    position: absolute;
    top: -2px;
    right: 0
}
.olx-btn i{
    color: #ffffff;
    position: absolute;
    top: 15px;
    right: 15px
}
.login-btn > span{
    width: 39px;
    height: 50px;
    color: #002f34;
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    right: -75px;
    bottom:-16px;
    background: none;
    border: none;
    cursor: pointer;
}
.sell-btn{
    width: 104px;
    height: 48px;
    font-weight: 700;
    position: relative;
    left: 750px;
    bottom: 45px;
    cursor: pointer;
}
.plus-sell{
    position: absolute;
    top: 13px;
    left: 20px;
}
.plus-sell img{
    margin-bottom: 3px
}

/* "categories  */

.all-categories a{
    font-weight: 700;
    text-transform: uppercase!important;
    cursor: pointer;
}
.all-categories img{
    cursor: pointer;
}

.categories{
    margin: 15px 37px;;
    /* border: 2px solid red; */
    display: flex;
    /* align-items: center; */
    gap: 20px;
}
.categories a{
    color: #002f34;
    text-decoration: none;
    text-transform: capitalize
}
.categories > a:hover{
    cursor: pointer;
    color: #00a49f
}

/* cards */

.olx-h4{
    font-weight: 700
}
.add-address{
    font-size: 11px;
    font-weight: 700
}
.products-h1{
    font-size: 24px;
    color: #002f34
}








